<div class="form-horizontal">
	<div class="form-group"  >
			<label class="col-sm-6  col-offset-3 control-label">UserName*</label>
			<div class="col-sm-6 col-offset-3">
				{{input type="text"  value=item.username class="form-control
				form_input" 
				placeholder="Type in your username" 
				}}

				{{v-get item 'username' 'message'}}
			</div>
			
	</div>
			
	<div class="form-group">
				<label class="col-sm-6 col-offset-3 
					control-label">Password</label>
					<div class="col-sm-6 col-offset-3">
						{{input type="text" value=item.password class="form-control"
						placeholder="Enter in your password"}}
						{{v-get item 'password' 'message'}}
					</div>
			</div>
			
			<div class="form-group has-feedback {{if user.isPasswordValid 'has-success'}}">
					<label class="col-sm-6 control-label">Password Confirmation</label>
					<div class="col-sm-6">
						{{input type="text" value=item.passwordConfirmation
						class="form-control" placeholder="confirm your password"}}
						{{v-get item 'passwordConfirmation' 'message'}}
					</div>
			</div>
			
			<div class="form-group">
					<div class="col-sm-offset-6 col-sm-6">
						<button type="submit" class="btn btn-default" 
							{{action 'buttonClicked' item}} disabled={{v-get item 'isInvalid'}} >{{buttonLabel}}</button>
					</div>
			</div>
</div>
